/* Κώδικας που θα μπει στο custom.css */
body {
    background-color: #F0F8FF; /* AliceBlue */
}

h1 {
    color: #153664; /* Σκούρο μπλε για τον τίτλο */
    border-bottom: 1px solid #c9c9c9;
}

.mission-statement {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e6e6fa; /* Lavender */
}
